<div class="col-sm-3 col-md-2 sidebar" style="background-color:white;">
  <ul class="nav nav-sidebar" >

    <li><a class="item" >
      <em class="icon-grid"></em>
      <span>Dashboard</span>
    </a></li>
    <li><a class="item" >
      <em class="icon-grid"></em>
      <span>Charts</span>
    </a></li>
    <li><a class="item" >
      <em class="icon-grid"></em>
      <span>Readings</span>
    </a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a class="item">
      <em class="icon-grid"></em>
      <span>Notifications</span>
    </a></li>
    <li><a class="item">
      <em class="icon-grid"></em>
      <span>Timeline</span>
    </a></li>
    <li><a class="item">
      <em class="icon-grid"></em>
      <span>Equipment</span>
    </a></li>
    <li><a class="item">
      <em class="icon-grid"></em>
      <span>Admin</span>
    </a></li>
    <li><a class="item">
      <em class="icon-grid"></em>
      <span>CaseStudies</span>
    </a></li>
  </ul>
</div>
